<!DOCTYPE html>
<html lang="zh-HK">
<head>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">   
    <meta charset="UTF-8">
    <title>血壓記錄</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Link to your CSS file -->
    <script>
        // Show the alert if there's a success message
        function showAlert(message) {
            alert(message);
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>血壓記錄</h1>

        <% if (typeof successMessage !== 'undefined' && successMessage) { %>
            <script>
                window.onload = function() {
                    showAlert('<%= successMessage %>');
                };
            </script>
        <% } %>

<form action="/add" method="POST">
    <label for="high_pressure">高壓:</label>
    <input type="number" name="high_pressure" required>

    <label for="low_pressure">低壓:</label>
    <input type="number" name="low_pressure" required>

    <label for="heartbeat">心跳:</label>
    <input type="number" name="heartbeat" required>

    <label for="record_date">日期:</label>
    <input type="date" name="record_date" required>

    <label for="record_time">時間:</label>
    <input type="time" name="record_time" required>

    <button type="submit">添加記錄</button>
</form>

        <div class="links">
            <a href="/records" class="link-button records">查看記錄</a>
            <a href="/export/excel" class="link-button csv">匯出至excel</a>
        </div>
    </div>
</body>
</html>
